<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.ankitsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.ankitsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.ankitsapplication.app.modules.drlist.ui.DrListActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.pharmacy.ui.PharmacyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.ankitsapplication.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ankitsapplication.app.modules.schedule1.ui.Schedule1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.bookanappointment.ui.BookAnAppointmentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.signup.ui.SignupActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.settigns.ui.SettignsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.drugdetails.ui.DrugDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.chat.ui.ChatActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.drdetails.ui.DrDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.article.ui.ArticleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.message1.ui.Message1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.dashboard.ui.DashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.cart.ui.CartActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ankitsapplication.app.modules.ambulance.ui.AmbulanceActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
